<div id="care" class="strip p-content section">
    <div class="row">
        <div class="col-12">
            <div class="u-align--center">
                <h2>
                    Заботитесь о пожарной безопасности?
                </h2>
                <p class="subheading">
                    Мы работаем, чтобы защитить вас и вашу компанию
                </p>
                <div class="row">
                    <div class="u-equal-height">
                        <div class="col-4">
                            <p class="u-align--center">
                                <img class="care-image" src="images/2.care/1.png"/>
                            </p>
                            <p>
                                от угроз жизни и здоровью людей в помещении
                            </p>
                        </p>
                    </div>
                    <div class="col-4">
                        <p class="u-align--center">
                            <img class="care-image" src="images/2.care/2.png"/>
                        </p>
                        <p>
                            от порчи или гибели имущества
                        </p>
                    </div>
                    <div class="col-4">
                        <p class="u-align--center">
                            <img class="care-image" src="images/2.care/3.png"/>
                        </p>
                        <p>
                            от штрафов и приостановки деятельности

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>