<div class="strip section">
    <div class="row">
        <div class="col-12">
            <div class="p-content">
                <div class="u-align--center">
                    <h2 class="subheading">
                        Мы гарантируем
                    </h2>
                    <p class="we-pay__warning">
                        Если вы прислушались и выполнили наши рекомендации, а вам все равно выписали штраф, то мы оплатим
                        его за
                        <strong>СВОЙ</strong>
                        счет
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>