<div class="row header-wrapper">
    <div class="col-12 header u-vertically-center">
        <div class="p-content">
            <div class="u-align--center">
                <h1 class="header--one p-heading--two">
                    Монтаж, техническое обслуживание и ремонт систем охранно-пожарной сигнализации, пожаротушения и
                    оповещения о пожаре
                </h1>
                <p class="header--two subheading p-heading--five">
                    Мы работаем на территории Кемеровской, Новосибирской и Томской областей
                </p>
                <p class="header--three header__button">
                    <button class="p-button--brand r5m-action" data-action="r5mDimmer__show" data-type="order">
                        Оставить заявку
                    </button>
                </p>
                <p class="header-scroll">
                    <a href="#care" data-scroll class="p-button--base bounce"></a>
                </p>
            </div>
        </div>
    </div>
</div>