<div class="p-content first-header">
    <div class="row u-vertically-center">
        <div class="col-2 u-align--center first-header--1 mobile-hidden">
            <p class="p-logo">
                <a class="p-logo__container" href="./">
                    <img
                        src="/images/1.header/logo.png"
                        alt="Центр комплексного обслуживания систем пожарной безопасности"/>
                </a>
            </p>
        </div>
        <div class="col-6 first-header--2 mobile-hidden">
            <p class="c2a-wrapper">
                <a class="c2a c2a--call r5m-action" data-action="r5mDimmer__show" data-type="order">
                    Сделать заказ
                </a>
                <br class="u-hide--large u-hide--medium"/>
                <a class="c2a c2a--ask r5m-action" data-action="r5mDimmer__show" data-type="ask">
                    Задать вопрос
                </a>
            </p>
        </div>
        <div class="u-hide--large u-hide--medium col-8 first-header--group u-align--center">
            <div class="first-header--1">
                <p class="p-logo">
                    <a class="p-logo__container" href="./">
                        <img
                            src="/images/1.header/logo.png"
                            alt="Центр комплексного обслуживания систем пожарной безопасности"/>
                    </a>
                </p>
            </div>
            <div class="first-header--2">
                <p class="c2a-wrapper">
                    <a class="c2a c2a--call r5m-action" data-action="r5mDimmer__show" data-type="order">
                        Сделать заказ
                    </a>
                    <br class="u-hide--large u-hide--medium"/>
                    <a class="c2a c2a--ask r5m-action" data-action="r5mDimmer__show" data-type="ask">
                        Задать вопрос
                    </a>
                </p>
            </div>
        </div>
        <div class="col-4 first-header--3">
            <p>
            	<span class="header__city">Новокузнецк</span><br/>
                <a class="header__phone" href="tel:+73843200206">+7 (3843) 200-206</a>                
            </p>
            <%#<p class="u-no-margin--top">
                <a class="header__phone" href="tel:+73843200206">+7 (3843) 200-206</a>
                <sub>Новосибирск</sub>
            </p>%>
        </div>
    </div>
</div>