<div class="row numbers-wrapper">
    <div class="col-12 numbers u-vertically-center">
        <div class="p-content">
            <div class="u-align--center">
                <h2 class="subheading">
                    За нас говорят цифры
                </h2>
                <div class="row">
                    <div class="col-3">
                        <div class="p-card">
                            <header class="p-card__header">
                                <h3 class="p-card__title p-heading--two color--brand">314</h3>
                            </header>
                            <p class="p-card__content">систем безопасности обслуживаем на объектах по всей Кемеровской области</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="p-card">
                            <header class="p-card__header">
                                <h3 class="p-card__title p-heading--two color--brand">520</h3>
                            </header>
                            <p class="p-card__content">объектов мониторим круглосуточно</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="p-card">
                            <header class="p-card__header">
                                <h3 class="p-card__title p-heading--two color--brand">24/7</h3>
                            </header>
                            <p class="p-card__content">работаем без обеда, выходных и праздников</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="p-card">
                            <header class="p-card__header">
                                <h3 class="p-card__title p-heading--two color--brand">70000</h3>
                            </header>
                            <p class="p-card__content">единиц продукции противопожарного направления продаем в год</p>
                        </div>
                    </div>
                </div>
                <div class="row u-align--center">
                    <div class="col-1 col-margin"></div>
                    <div class="col-3">
                        <div class="p-card">
                            <header class="p-card__header">
                                <h3 class="p-card__title p-heading--two color--brand">150</h3>
                            </header>
                            <p class="p-card__content">метров винтиляции испытываем и чистим в месяц</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="p-card">
                            <header class="p-card__header">
                                <h3 class="p-card__title p-heading--two color--brand">923</h3>
                            </header>
                            <p class="p-card__content">системы пожарной безопасности обслуживаем на БЕЛаЗах шахт и разрезов Кузбасса</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="p-card">
                            <header class="p-card__header">
                                <h3 class="p-card__title p-heading--two color--brand">1500</h3>
                            </header>
                            <p class="p-card__content">метров метров пожарных лестниц испытываем в год</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>