<div class="row wedo section">
    <div class="col-12">
        <div class="p-content p-content--small">
            <div class="u-align--center">
                <h2 class="subheading">
                    Мы предоставляем полный комплекс услуг в пожарной безопасности
                </h2>
                <div class="row">
                    <div class="col-6 u-align--left">
                        <ol class="p-list-step list__only-title">
                            <li class="p-list-step__item">
                                <p class="p-list-step__title">
                                    <span class="p-list-step__bullet">
                                        <img class="list__icon" src="images/3.services/pm.png">
                                    </span>
                                    Пожарный мониторинг
                                </p>
                            </li>
                            <li class="p-list-step__item">
                                <p class="p-list-step__title">
                                    <span class="p-list-step__bullet">
                                        <img class="list__icon" src="images/3.services/ip.png">
                                    </span>
                                    Испытания пожарных лестниц
                                </p>
                            </li>
                            <li class="p-list-step__item">
                                <p class="p-list-step__title">
                                    <span class="p-list-step__bullet">
                                        <img class="list__icon" src="images/3.services/oo.png">
                                    </span>
                                    Огнезащитная обработка
                                </p>
                            </li>
                            <li class="p-list-step__item">
                                <p class="p-list-step__title">
                                    <span class="p-list-step__bullet">
                                        <img class="list__icon" src="images/3.services/ppr.png">
                                    </span>
                                    Перекатка пожарных руковов
                                </p>
                            </li>
                            <li class="p-list-step__item">
                                <p class="p-list-step__title">
                                    <span class="p-list-step__bullet">
                                        <img class="list__icon" src="images/3.services/mo.png">
                                    </span>
                                    Монтаж, обслуживание и ремонт систем пожарных сигнализаций, пожаротушения и оповещения людей о
                                    пожаре
                                </p>
                            </li>
                            <li class="p-list-step__item">
                                <p class="p-list-step__title">
                                    <span class="p-list-step__bullet">
                                        <img class="list__icon" src="images/3.services/iv.png">
                                    </span>
                                    Испытание вентиляции
                                </p>
                            </li>
                        </ol>
                    </div>
                    <div class="col-6 u-align--left">
                        <ol class="p-list-step list__only-title">
                            <li class="p-list-step__item">
                                <p class="p-list-step__title">
                                    <span class="p-list-step__bullet">
                                        <img class="list__icon" src="images/3.services/pr.png">
                                    </span>
                                    Проектные работы
                                </p>
                            </li>
                            <li class="p-list-step__item">
                                <p class="p-list-step__title">
                                    <span class="p-list-step__bullet">
                                        <img class="list__icon" src="images/3.services/mo2.png">
                                    </span>
                                    Монтаж, обслуживание и ремонт систем пожаротушения транспортных средств: карьерных самосвалов,
                                    тепловозов, спецтехники
                                </p>
                            </li>
                            <li class="p-list-step__item">
                                <p class="p-list-step__title">
                                    <span class="p-list-step__bullet">
                                        <img class="list__icon" src="images/3.services/po.png">
                                    </span>
                                    Переосвидетельствование и зарядка огнетушителей
                                </p>
                            </li>
                            <li class="p-list-step__item">
                                <p class="p-list-step__title">
                                    <span class="p-list-step__bullet">
                                        <img class="list__icon" src="images/3.services/psp.png">
                                    </span>
                                    Продажа средств пожаротушения, пожарно-технического и аварийно-спасательного оборудования
                                </p>
                            </li>
                            <li class="p-list-step__item">
                                <p class="p-list-step__title">
                                    <span class="p-list-step__bullet">
                                        <img class="list__icon" src="images/3.services/ao.png">
                                    </span>
                                    Аварийное освещение
                                </p>
                            </li>
                            <li class="p-list-step__item">
                                <p class="p-list-step__title">
                                    <span class="p-list-step__bullet">
                                        <img class="list__icon" src="images/3.services/vn.png">
                                    </span>
                                    Видеонаблюдение
                                </p>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>