<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
    <title>ЦКО-СБ :: Узнайте, готовы ли вы к приходу пожарного инспектора?</title>
    
	<script src="https://unpkg.com/jquery"></script>
    <script src="https://surveyjs.azureedge.net/0.96.3/survey.jquery.js"></script>
  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
	<link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.0.0-beta.4/dist/css/bootstrap-material-design.min.css" integrity="sha384-R80DC0KVBO4GSTw+wZ5x2zn2pu4POSErBkf8/fSFhPXHxvHJydT0CSgAP2Yo2r4I" crossorigin="anonymous">

	<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/bootstrap-material-design@4.0.0-beta.4/dist/js/bootstrap-material-design.js" integrity="sha384-3xciOSDAlaXneEmyOo0ME/2grfpqzhhTcM4cE32Ce9+8DW/04AGoTACzQpphYGYe" crossorigin="anonymous"></script>	
	<link rel="stylesheet" href="./js/survey.css">
</head>
<body>
	<div class="bg"></div>
	<div class="container container--main">
		<div class="card">
			<h1 class="card-header display-4">Готовы ли вы к приходу пожарного инспектора?</h1>
			<div class="card-body">
				<div id="surveyElement"></div>
			</div>
		</div>
	</div>
    <div id="surveyResult"></div>
	<script type="text/javascript" src="./js/survey.js"></script>
    <script type="text/javascript" src="https://cdn.emailjs.com/dist/email.min.js"></script>
    <script>
    	emailjs.init("user_WMEfPtpoUCx0quYXbefJf");
    </script>
</body>
</html>
